html {
  scroll-behavior: smooth;
  /* box-sizing: border-box; */
}

:target:before {
  content: "";
  display: block;
  height: 100px;
  margin: -100px 0 0;
}


body{
  margin : 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  width:100vmax;
  /* min-width: 100%; */
  /* height:100%; */
  /* width:-webkit-fill-available; */ 
} 



/* Home page */

#home{
  background: linear-gradient(#1b1b1b,#333333,#ffffff);
  background-size: cover;
  background-position:center;
  margin: auto;
}


/* navbar settings */

.navbar{
  position: fixed;
  top: 15px;
  left: 0;
  width:100vmax;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  
  transition: 0.6s;
  z-index: 100000;
}

.logo img{
  padding-left: 50px;
  height: 64px;
  width: auto;
}
nav{
  flex: 1;
  text-align: right;
  text-decoration: none;
}

nav ul{
  display: inline-block;
  list-style-type: none;
  position: relative;
}

nav ul li{
  display: inline-block;
  margin-right: 20px;
  color: #FFFFFF;
  position: relative;
}

.navbar a{
  padding: 14px 14px;
  border-radius: 15px;
  align-self: center;
  text-decoration: none;
  color: #FFFFFF;
}

.navbar a:hover{
  background-color: rgb(236, 243, 237);
  color:#000000;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100vmax;
  background-color:#343434; 
  text-decoration: none;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  transition: 0.6s;
  z-index: 10000;
}

.sticky a{
  padding: 14px 14px;
  border-radius: 15px;
  text-decoration: none;
  color: black;
}

.sticky a:hover{
  background-color: #fff;
  border-radius: 15px;
}


.sticky .logo{
  padding-top: 15px;
}

.normal{
  padding-right: 80px;
}


/* intro page settings */

.firstPage{
  display: block;
  padding-top: 100px;
  text-align: center;
}

.col-1{
  float: left;
}

.intro {

  padding-top: 100px;
  text-align: center;
  width: 70%;
  letter-spacing: 3px;
  margin: auto;
}

.intro h1{
  font-size: 60px;

}

.intro p{
  line-height: 30px;
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 25px;


  
}
.firstPage img{
  height: 400px;
  width: auto;
  opacity: 80%;
  float: right;
  padding-right: 50px;
}


.firstPage:after {
  content: "";
  display: table;
  clear: both;
}


#features{
  margin-bottom: 50px;
}

.line{
  color:#1b1b1b;
  border: solid #1b1b1b;
  border-radius: 5px;
  width:25%;
}

.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;   
  /* padding-top: 5%; */
}

.row h2{
  font-size: 35px;
  margin-right: 20px;
  margin-left: 20px;
}

.infoBox{
  max-width: 80%;
  text-align: justify;
  padding-top: 5px;
  font-size: 50px;
  display:flex;
  flex-direction: column;
  border-radius: 15px;
  
}

.infoBox:hover{
  background-color: #b8b8b8;
  transform: scale(1.1,1.1);
  transition-duration: 1s;

}

i{
  color:rgb(8, 8, 8); 
  clear: both;
  background-color: rgba(97, 48, 48, 0);
}

.info{
  padding:10px 20px;
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(7, 6, 6);
  text-align: center;
}

.endline{
  width: 90%;
  color: lightgray;
  border: solid lightgray;
}

#VM{
  margin: auto;
  padding-top: 20px;
  
  background: #666666;
  
}

#VM:target:before {
  content: "";
  display: block;
  height: 150px;
  margin: -100px 0 0;
}


#VM .row{
  justify-content:space-evenly;
  padding-bottom: 50px;

}


.heading{
  text-align: center;
  padding-top: 20px;
  border-radius: 30px;
  font-size: 40px;
  
}

.col-2{
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

.instruction{
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 30px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#colorChange{
  font-size: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 3px;
  animation-name: pulse;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.hpcolors{
  align-self: center;
}

.hpcolors button{
  border:solid #000000;
  border-radius: 10px;
  background: #b8b8b8;
  font-size: 30px;
  padding:10px;
  margin:10px;
}


.SPONSORS{
  background-color: #FFFFFF;
  color: rgb(0, 0, 0);
  align-content: center;
}

.SPONSORS .instruction{
  padding: 20px;
  line-height: 40px;
  font-size: 30px;
}

.add{
  flex-basis: 30%;
  min-width: 15px;
  margin-bottom: 30px;
  transition: transform 0.5s;
  flex-direction: column;
}

.add img{
  width: 100%;
}


.add p{
  text-align: center;
  padding: 5px 0;
  font-size: 25px;
  text-transform: uppercase;
}

.instruction b{
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.add:hover{
  transform: translateY(-10px);
}

#team{
  margin: auto;
}

.details{
  display: flex;
  flex-direction: column;
  margin:20px;
}

.details .instruction{
  padding-top: 20px;
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
}

table{
  width:80%;
  align-self: center; 
}

table, th, tr {
  border: 3px solid #000;
  border-collapse: collapse;
}

th, tr{
 padding: 15px;
}

th{
  width:50%;
}

.blackBox{
  background: #272525;
  color: #fff;
  
}

#contact{
  margin: auto;
  background: #444444;
  color: #fff;
}

#contact:target:before {
  display: none;
  height: none;
  margin: none;
}

.footer h2{
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
}

.footer .row{
  text-align: center;
  padding:0 40px;
}

.contactBox{
  text-align: left;
  line-height: 30px;
  padding-bottom: 20px;
  transition: transform 0.5s;
}

.contactBox:hover{
  transform: translateY(-10px);
}

.media{
  padding-bottom: 20px;
}

.media i{
  color:#fff;
  font-size: 40px;
  padding: 20px;
  transition: transform 0.5s;
}

.media a{
  text-decoration: none;
}
.media i:hover{
  transform: scale(1.1,1.1);
}

.carousel-item img{
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  display: block;
  padding: 10px 10px 10px 10px ;
}
.carousel-control-prev{
  background-color: #000000;
}
.carousel-control-next{
  background-color: #000000;
}
/* Responsiveness */

.menu{
  width: 28px;
  padding-right: 80px;
  font-size: 30px;
  display:none;
  cursor: pointer;
}

.show{
  display: block;
}

.copyright{
  font-size: 15px;
  padding-bottom: 10px;
  text-align: center;
}
.media img{
  padding: 2px 3px 2px 3px;
}
.media img:hover{
  transform: scale(1.1,1.1);
  transition-duration: 0.5s;
}

@media only screen and (max-width : 1000px){    
  
  #home{
      padding: 0 5%;
  }
  nav ul{
      position: absolute;
      top: 80px;
      left: 0;
      background:#000000;
      width:100%;
      overflow: hidden;
      transition: max-height 0.5s;
      display: none;
  }

  nav ul li{
      display: block;
      margin-right: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
      color: #fff;
      padding-bottom: 15px;
  }

  

  .menu{
      display: block;
      
  }

  .intro{
      width: 50%;
  }
}


@media only screen and (max-width : 900px){
  
  .col-1 img{
      /* margin-top: -100px; */
      height:500px;
  }

  .hpimgs img{
      height:400px;
  }

  .intro h1{
      font-size: 40px;
  }
  .add img{
      height:200px;
  }
}

@media only screen and (max-width : 750px){
  
  .firstPage{
      display: flex;
      flex-direction: column;

  }
  .col-1 img{
      /* transform: none; */
      display: block;
      height: 800px;
      margin-left: 15%;
      /* margin-right: auto; */
      
      /* position: relative; */
      /* margin: 0 50px; */
  }
  .col-1{
      width:100vw;
      /* padding-top:50px; */
  } 

  .intro{
      text-align: center;
      font-size: 50px;
      padding-top:50px;
  } 

  .col-1 a{
      font-size: 10px;
  }

  
 .info{
     font-size: 15px;
 }
 .add img{
     height: 150px;
 }

}

@media only screen and (max-width : 600px){
  
  .col-1{
      width:100%;
  }



  .heading{
      font-size: 30px;
  }
  
  .infoBox{
      max-width: 40%;
      padding-bottom: 10px;
  }

  .info{
      font-size: 20px;
  }
  .hpcolors button{
      font-size: 20px;
      padding:5px;
  }

  .hpimgs img{
      height: 300px;
  }

  .instruction{
      font-size: 20px;
  }

  .SPONSORS .instruction{
      font-size: 20px;
  }

  .add p{
      font-size: 20px;
  }
}

@media only screen and (max-width : 450px)
{
  


  .firstPage{
      justify-content: space-evenly;
  }
  .intro h1{
      font-size: 20px;
  }

  .col-1 button{
      font-size: 20px;
  }
  #features .row{
      flex-direction: column;
  }

  .line{
      width:50%;
  }
  .infoBox{
      max-width: 80%;
  }

  .info{
      font-size: 25px;
  }
  .heading{
      font-size: 35px;
      padding-bottom: 10px;
  }

  #colors .row{
      flex-direction: column-reverse;
  }

  .col-2{
      padding-top: 10px;
      max-width: 80%;
  }

  .hpcolors{
      padding-top: 10px;
  }

  .hpcolors button{
      padding:10px;
      font-size: 30px;
  }

  .hpimgs img{
      height: 400px;
  }

  .add-on .row{
      flex-direction: column;
  }
  .add{
      padding:0 5px;
  }

  .add img{
      width: 300px;
  }
  .instruction{
      margin-bottom: 0;
      font-size: 25px;
      line-height: 40px;
  }

  .instruction b{
      font-size: 10px;
  }

  .details .instruction{
      padding-bottom: 10px;
  }
  /* #spec h2{
      text-align: center;
      line-height: 30px;
  } */

  .media i{
      font-size: 25px;
  }
}
@media only screen and (max-width : 300px)
{
  .intro h1{
      font-size: 20px;
  }

  .intro p{
      font-size: 60px;
  }

  .col-1 img{
      height: 500px;
      margin-left: 25%;
  }

  #features h2{
      font-size: 40px;
  }

  .info{
      font-size: 25px;
  }

  .heading{
      padding:20px 10px;
      font-size: 40px;
  }

  .instruction b{
      font-size: 40px;
  }
  .instruction{
      padding: 0 5px;
      font-size: 30px;
  }

  table{
      width:80%;
  }

  th{
      font-size: 20px;
  }
}
@media (max-width: 1191px){
  .content .swiper-container
    {
        max-width: 100%;
    }
    .swiper-slide
    {
        height: 300px;
    }
}
