html {
    scroll-behavior: smooth;
    /* box-sizing: border-box; */
  }
  
  :target:before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0 0;
  }
  
  
  body{
    margin : 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    width:100vmax;
    /* min-width: 100%; */
    /* height:100%; */
    /* width:-webkit-fill-available; */ 
  } 
  
  
  
  /* Home page */
  
  #home{
    background: linear-gradient(#2b2929,#616060,#ffffff);
    background-size: cover;
    background-position:center;
    margin: auto;
  }
  
  
  /* navbar settings */
  
  .navbar{
    position: fixed;
    top: 15px;
    left: 0;
    width:100vmax;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    
    transition: 0.6s;
    z-index: 100000;
  }
  
  .logo img{
    padding-left: 50px;
    height: 64px;
    width: auto;
  }
  nav{
    flex: 1;
    text-align: right;
    text-decoration: none;
  }
  
  nav ul{
    display: inline-block;
    list-style-type: none;
    position: relative;
  }
  
  nav ul li{
    display: inline-block;
    margin-right: 20px;
    color: #FFFFFF;
    position: relative;
  }
  
  .navbar a{
    padding: 14px 14px;
    border-radius: 15px;
    align-self: center;
    text-decoration: none;
    color: #FFFFFF;
  }
  
  .navbar a:hover{
    background-color: rgb(236, 243, 237);
    color:#000000;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100vmax;
    background-color:#363535; 
    text-decoration: none;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    transition: 0.6s;
    z-index: 10000;
  }
  
  .sticky a{
    padding: 14px 14px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
  }
  
  .sticky a:hover{
    background-color: #fff;
    border-radius: 15px;
  }
  
  
  .sticky .logo{
    padding-top: 15px;
  }
  
  .normal{
    padding-right: 80px;
  }
  .firstPage{
    display: block;
    padding-top: 100px;
    text-align: center;
}

.col-1{
    float: left;
}

.intro {
    text-align: right;
    padding-top: 170px;
    margin: auto;
    text-align: center;
    width:60%;
    /* letter-spacing: 3px; */
}
  
  .intro h1{
    font-size: 60px;
    padding-left: 150px;
  
  } 
  
  .intro p{
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 50px;
   }

  .firstPage img{
    height: 400px;
    width: auto;
    opacity: 70%;
    float: right;
    padding-right: 120px;
  }
  
  
  .firstPage:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  #features{
    margin-bottom: 50px;
  }
  
  .line{
    color:#1b1b1b;
    border: solid #1b1b1b;
    border-radius: 5px;
    width:25%;
  }
  
  .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;   
    /* padding-top: 5%; */
  }
  
  .row h2{
    font-size: 35px;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .infoBox{
    max-width: 80%;
    text-align: justify;
    padding-top: 5px;
    font-size: 50px;
    display:flex;
    flex-direction: column;
    border-radius: 15px;
    
  }
  
  .infoBox:hover{
    background-color: #b8b8b8;
    transform: scale(1.1,1.1);
    transition-duration: 1s;
  
  }
  
  i{
    color:rgb(7, 7, 7); 
    clear: both;
    background-color: rgba(0, 0, 0, 0.849);
  }
  
  .info{
    padding:10px 20px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(7, 6, 6);
    text-align: center;
    padding-bottom: 20px;
  }
  
  .endline{
    width: 90%;
    color: lightgray;
    border: solid lightgray;
  }
  
  #VM{
    margin: auto;
    padding-top: 10px;
    background: #9e9b9b;
    
  }
  
  #VM:target:before {
    content: "";
    display: block;
    height: 150px;
    margin: -100px 0 0;
  }
  
  
  #VM .row{
    justify-content:space-evenly;
    padding-bottom: 50px;
  
  }
  
  
  .heading{
    text-align: center;
    padding-top: 20px;
    border-radius: 30px;
    font-size: 40px;
    
  }
  
  .col-2{
    display: flex;
    flex-direction: column;
    max-width: 40%;
  }
  
  .instruction{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  #colorChange{
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 3px;
    animation-name: pulse;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
  .hpcolors{
    align-self: center;
  }
  
  .SPONSORS{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    align-content: center;
  }
  
  .SPONSORS .instruction{
    padding: 20px;
    line-height: 40px;
    font-size: 30px;
  }
  
  .add{
    flex-basis: 30%;
    min-width: 15px;
    margin-bottom: 30px;
    transition: transform 0.5s;
    flex-direction: column;
  }
  
  .add img{
    width: 100%;
  }
  
  
  .add p{
    text-align: center;
    padding: 5px 0;
    font-size: 25px;
    text-transform: uppercase;
  }
  
  .instruction b{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .add:hover{
    transform: translateY(-10px);
  }
  
  #team{
    margin: auto;
  }
  
  .details{
    display: flex;
    flex-direction: column;
    margin:20px;
  }
  
  .details .instruction{
    padding-top: 20px;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  table{
    width:80%;
    align-self: center; 
  }
  
  table, th, tr {
    border: 3px solid rgb(0, 0, 0);
    border-collapse: collapse;
  }
  
  th, tr{
   padding: 15px;
  }
  
  th{
    width:50%;
  }
  
  .blackBox{
    background: #7b868b;
    color: rgb(0, 0, 0);
    
  }
  
  #contact{
    margin: auto;
    background: #262929;
    color: rgb(255, 255, 255);
  }
  
  #contact:target:before {
    display: none;
    height: none;
    margin: none;
  }
  
  .footer h2{
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
  }
  
  .footer .row{
    text-align: center;
    padding:0 40px;
  }
  
  .contactBox{
    text-align: left;
    line-height: 30px;
    padding-bottom: 20px;
    transition: transform 0.5s;
  }
  
  .contactBox:hover{
    transform: translateY(-10px);
  }
  
  .media{
    padding-bottom: 20px;
  }
  
  .media i{
    color:#fff;
    font-size: 40px;
    padding: 20px;
    transition: transform 0.5s;
  }
  
  .media a{
    text-decoration: none;
  }
  .media i:hover{
    transform: scale(1.1,1.1);
  }
  
  .carousel-item img{
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    display: block;
    padding: 10px 10px 10px 10px ;
  }
  .carousel-control-prev{
    background-color: #000000;
  }
  .carousel-control-next{
    background-color: #000000;
  }
  /* Responsiveness */
  
  .menu{
    width: 28px;
    padding-right: 80px;
    font-size: 30px;
    display:none;
    cursor: pointer;
  }
  
  .show{
    display: block;
  }
  
  .copyright{
    font-size: 15px;
    padding-bottom: 10px;
    text-align: center;
  }
  .media img{
    padding: 2px 3px 2px 3px;
  }
  .media img:hover{
    transform: scale(1.1,1.1);
    transition-duration: 0.5s;
  }
  
